@model Project_Final.Models.Hotels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.traveller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.traveller.travellerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.hotelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
