@model IEnumerable<Project_Final.Models.Hotels>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.traveller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.traveller.travellerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hotelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hotelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hotelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
